<h2>Generate Shopping List</h2>
<div class="shopping_list">
<%= form_tag generate_shopping_list_path(recipe_id: @recipe_id), method: :get do %>
  <%= hidden_field_tag :recipe_id, @recipe_id %>

  <div class="form-group">
    <%= label_tag :inventory_id, 'Select an inventory:' %>
    <%= select_tag :inventory_id, options_from_collection_for_select(@inventories, 'id', 'name'), class: "selector" %>
  </div>

  <%= submit_tag "Generate Shopping List", class: "shopping-btn btn btn-primary " %>
<% end %>
</div>
