<div class='recipes_container'>
  <% @recipes.each do |recipe| %>
    <div class='recipe_container'>
      <div class="recipe_inform">
       <div class="public_inform">
        <p>Name: <%= recipe.name %></p>
        <p>by: <%= User.find(recipe.user_id).name %></p>
       </div>
          <% total_price = 0 %>
          <% if recipe.recipe_foods.any? %>
            <% recipe.recipe_foods.each do |rf| %>
              <% food = Food.find(rf.food_id) %>
              <% total_price += rf.quantity * food.price %>
            <% end %>
            <div>
              <p>Total food items: <%= recipe.recipe_foods.sum(:quantity) %> </p>
              <p>Price: $<%= total_price %></p>
            </div>
          <% else %>
            <p>No foods added to this recipe yet</p>
          <% end %>
      <div class='btn'>
        <%= link_to "View Recipe", public_recipe_path(recipe) %>
      </div>
      </div>
    </div>
  <% end %>
</div>
